.post{
    width:300px;
    height:350px;
    box-shadow: 9px 10px 5px -3px rgba(0,0,0,0.3);
-webkit-box-shadow: 9px 10px 5px -3px rgba(0,0,0,0.3);
-moz-box-shadow: 9px 10px 5px -3px rgba(0,0,0,0.3);
border:1px solid lightgray;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin:15px;
background-color: #f2f2f2;
}
.post a{
    padding:7px;
    background-color: dodgerblue;
    font-weight: bolder;
    cursor:pointer;
    text-decoration: none;
}